html {
    position: relative;
    min-height: 100%
}
body {
    margin-bottom: 60px /* Height of the footer */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px /* Example value */;
    background-color: #f5f5f5
}
