html {
    position: relative;
    min-height: 100%
}
body {
    margin-bottom: 60px; /* Height of the footer */
    background-color: #f0f0f0
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Example value */
    background-color: #e5e5e5
}
